@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  /* 设置与 App.jsx 一致的深色背景 */
  background-color: #0b1121;
  color: white;
  margin: 0;
  min-height: 100vh;
}